In [0]:
pip install pandas pyarrow

Requirement already satisfied: pandas in /databricks/python3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: pyarrow in /databricks/python3/lib/python3.12/site-packages (19.0.1)
Requirement already satisfied: numpy>=1.26.0 in /databricks/python3/lib/python3.12/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /databricks/python3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /databricks/python3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /databricks/python3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel using %restart_python or dbutils.library.restartPython() to use updated packages.

In [0]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-28 05:00:09--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.170.139.61, 3.170.139.33, 3.170.139.182, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.170.139.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet’

green_tripdata_2025 100%[===================>]   1.11M  --.-KB/s    in 0.03s

2026-01-28 05:00:09 (43.0 MB/s) - ‘green_tripdata_2025-11.parquet’ saved [1164775/1164775]

In [0]:
import pandas as pd

file_path = "green_tripdata_2025-11.parquet"

df = pd.read_parquet(file_path)

df.head()

   VendorID lpep_pickup_datetime  ... congestion_surcharge cbd_congestion_fee
0         2  2025-11-01 00:34:48  ...                 0.00                0.0
1         2  2025-11-01 00:18:52  ...                 0.00                0.0
2         2  2025-11-01 01:03:14  ...                 0.00                0.0
3         2  2025-11-01 00:10:57  ...                 0.00                0.0
4         1  2025-11-01 00:03:48  ...                 2.75                0.0

[5 rows x 21 columns]

In [0]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46912 entries, 0 to 46911
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               46912 non-null  int32
 1   lpep_pickup_datetime   46912 non-null  datetime64[us]
 2   lpep_dropoff_datetime  46912 non-null  datetime64[us]
 3   store_and_fwd_flag     41343 non-null  object
 4   RatecodeID             41343 non-null  float64
 5   PULocationID           46912 non-null  int32
 6   DOLocationID           46912 non-null  int32
 7   passenger_count        41343 non-null  float64
 8   trip_distance          46912 non-null  float64
 9   fare_amount            46912 non-null  float64
 10  extra                  46912 non-null  float64
 11  mta_tax                46912 non-null  float64
 12  tip_amount             46912 non-null  float64
 13  tolls_amount           46912 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  46912 non-null  float64
 16  total_amount           46912 non-null  float64
 17  payment_type           41343 non-null  float64
 18  trip_type              41342 non-null  float64
 19  congestion_surcharge   41343 non-null  float64
 20  cbd_congestion_fee     46912 non-null  float64
dtypes: datetime64[us](2), float64(15), int32(3), object(1)
memory usage: 7.0+ MB

In [0]:
trip_count = df[
    (pd.to_datetime(df["lpep_pickup_datetime"]) >= "2025-11-01") &
    (pd.to_datetime(df["lpep_pickup_datetime"]) < "2025-12-01") &
    (df["trip_distance"] <= 1)
].shape[0]

In [0]:
trip_count

8007

In [0]:
import pandas as pd

# Convert to datetime (if not already)
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])

# Filter trips with distance < 100
filtered_df = df[df["trip_distance"] < 100]

# Get row with maximum trip distance
max_trip_row = filtered_df.loc[filtered_df["trip_distance"].idxmax()]

# Extract values
max_distance = max_trip_row["trip_distance"]
pickup_day = max_trip_row["lpep_pickup_datetime"].date()

print("Max trip distance:", max_distance)
print("Pickup day:", pickup_day)

Max trip distance: 88.03
Pickup day: 2025-11-14

In [0]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-28 05:11:55--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-28T05%3A51%3A27Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-28T04%3A50%3A58Z&ske=2026-01-28T05%3A51%3A27Z&sks=b&skv=2018-11-09&sig=CMsvZPjqWgU4BRwDzrALM374ny56Q%2FCWF4CMBf6vNYk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTU3NzQxNSwibmJmIjoxNzY5NTc3MTE1LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.2HNzUYUxOACT1hwDQt9dFdM6H_6V4KVTNP3kk3kJL2g&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-28 05:11:55--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-28T05%3A51%3A27Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-28T04%3A50%3A58Z&ske=2026-01-28T05%3A51%3A27Z&sks=b&skv=2018-11-09&sig=CMsvZPjqWgU4BRwDzrALM374ny56Q%2FCWF4CMBf6vNYk%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2OTU3NzQxNSwibmJmIjoxNzY5NTc3MTE1LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.2HNzUYUxOACT1hwDQt9dFdM6H_6V4KVTNP3kk3kJL2g&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2026-01-28 05:11:55 (10.6 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [0]:
import pandas as pd

zones = pd.read_csv("taxi_zone_lookup.csv")
zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [0]:
nov18_df = df[
    (df["lpep_pickup_datetime"] >= "2025-11-18") &
    (df["lpep_pickup_datetime"] < "2025-11-19")
]

In [0]:
pickup_totals = (
    nov18_df
    .groupby("PULocationID")["total_amount"]
    .sum()
    .reset_index()
)

In [0]:
pickup_with_zones = pickup_totals.merge(
    zones,
    left_on="PULocationID",
    right_on="LocationID",
    how="left"
)

In [0]:
top_zone = pickup_with_zones.loc[
    pickup_with_zones["total_amount"].idxmax()
]

top_zone[["Zone", "Borough", "total_amount"]]

Zone            East Harlem North
Borough                 Manhattan
total_amount              9281.92
Name: 39, dtype: object

In [0]:
df["lpep_pickup_datetime"] = pd.to_datetime(df["lpep_pickup_datetime"])

In [0]:
ehn_id = zones.loc[zones["Zone"] == "East Harlem North", "LocationID"].iloc[0]

ehn_id

np.int64(74)

In [0]:
nov_ehn_df = df[
    (df["lpep_pickup_datetime"] >= "2025-11-01") &
    (df["lpep_pickup_datetime"] < "2025-12-01") &
    (df["PULocationID"] == ehn_id)
]

In [0]:
tip_by_dropoff = (
    nov_ehn_df
    .groupby("DOLocationID")["tip_amount"]
    .sum()
    .reset_index()
)

In [0]:
tip_with_zones = tip_by_dropoff.merge(
    zones,
    left_on="DOLocationID",
    right_on="LocationID",
    how="left"
)

In [0]:
top_dropoff = tip_with_zones.loc[
    tip_with_zones["tip_amount"].idxmax()
]

top_dropoff[["Zone", "Borough", "tip_amount"]]

Zone          Upper East Side North
Borough                   Manhattan
tip_amount                  4242.01
Name: 113, dtype: object